<!DOCTYPE html>
<html lang="en">
<head>
    {{>linkcss}}
</head>
<body>
    {{!-- <h1>hehe,{{section.myData}}</h1> --}}
    {{!-- {{> header}} --}}
                {{{body}}}

    {{!-- {{> footer}} --}}
</body>
</html>